body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:16px;
    
    color:whitesmoke;
    background-color: rgb(5, 2, 5);
}
h1 {
    text-align: center;
    color: gold;
    text-decoration:underline;
    background-color: blue;
}
h2,h3{
    text-align: center;
    color:goldenrod;

}
p, ol, ul, table {
    text-align:left;
    max-width: 700px;
    margin: 0 auto 1em auto;
    line-height: 2;
}
ol,ul{
    padding-left: 180px;
}
header{
    text-align: center;
    color: cyan;
    
}
table{
    background-color: blue;
    color: orangered;
    width:600px;
    box-shadow:0px 0px 10000px white;
}
a {
    text-align:center;
}
img {
    
    text-align: center;
    border: 2px solid orangered;
    border-radius: 10px;
    width: 400px;
}